[submodule "cyborg-core"]
	path = cyborg-core 
	url = git@github.com:nu-art/cyborg-core.git 
	branch =  master 
[submodule "dev-tools"]
	path = dev-tools 
	url = git@github.com:nu-art/dev-tools 
	branch =  master 

